{% load static %}

<div class="col-3 bg-light">

    <div class="row tags bg-light ">
        <p class="mr-3 w-100 h2 topbar-font ">Popular tags</p>
        <a class="mr-3 h4 topbar-font " href="#">Boom</a>
        <a class="mr-3 h4 topbar-font " href="#">BoomBoom</a>
        <a class="mr-3 h4 topbar-font " href="#">BoomBoomBoom</a>
        <a class="mr-3 h4 topbar-font " href="#">BoomBoomBoomBoom</a>
    </div>

    <div class="row tags bg-light">
        <p class="mr-3 h2 topbar-font">Best Members</p>
        <a class="mr-3 h4 w-100 topbar-font " href="#">Ivanov</a>
        <a class="mr-3 h4 w-100 topbar-font " href="#">Bubkic</a>
        <a class="mr-3 h4 w-100 topbar-font " href="#">Pupkin</a>
        <a class="mr-3 h4 w-100 topbar-font " href="#">Lagrange</a>
        <a class="mr-3 h4 w-100 topbar-font " href="#">Gauss</a>

    </div>

</div>