{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>1000gramm</title>

    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>
{% include 'main/inc/navbar.html' %}


<div style="margin-top: 80px">
    {% block title %}
    {% endblock title %}
    {% block content %}
    {% endblock %}
</div>


<script src="{% static 'main/js/jquery.slim.min.js' %}"></script>
<script src="{% static 'main/js/popper.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/likes.js' %}"></script>

</body>

</html>
