{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    {#{% include 'main/inc/question.html' %}#}

    <!--        Answers            -->

    {#{% include 'main/inc/answer.html' %}#}


    <div class="container ">
        <div class="row">
            <!-- For  Questions -->
            <div class="col-8 mt-3">
                {% include 'main/inc/question.html' %}
                {% for answer in objects_of_page %}
                    {% include 'main/inc/answer.html' %}
                {% endfor %}

                <div class="row mr-3 mt-3">

                    <textarea class="form-control" rows="5" placeholder="Your answer!"></textarea>
                    <button class="btn btn-primary mt-2" type="submit">Answer!</button>

                </div>
            </div>
            <!-- For  Tags -->
            {% include 'main/inc/tags.html' %}
            {% include 'main/inc/paginator.html' %}
        </div>


    </div>


{% endblock content %}


